<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ChoicesF1Club" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- top page -->
  <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

    <div class="row white-bg">
      <div class="large-3 columns">
        <img class="logo" src="/img/logos/choicesf1.png" alt="logo" height="120px" width="120px;">
        <a class="right menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
        <div class="large-9 columns right-nav">
          <li class="nav"><%= link_to "Home", root_path, class: "nav-links" %></li>
          <li class="nav"><%= link_to 'Predict & Win', new_prediction_path, class: "nav-links" %></li>
          <% if user_signed_in? %>
            <%if current_user.super_admin? %>
              <li class="nav"><%= link_to "Admin Panel", admin_root_path, class: "nav-links" %></li>
            <% end %>
            <li class="nav"><%= link_to current_user.email, class: "nav-links" %></li>
            <li class="nav" ><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-links" %></li>
        <% else %>
            <li class="nav"><%= link_to "Sign up",  new_user_registration_path, class: "nav-links" %></li>
            <li class="nav"><%= link_to "Sign in",  new_user_session_path, class: "nav-links" %></li>
        <% end %>
      </div>
    </div>

    <%= yield %>
    
    <footer>
    <div class="row">
      <div class="large-4 columns">

      </div>
    </div>
    </footer>

  </body>
</html>
